*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
 body{
    display: flex;
    padding: 0;
    align-items: center;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background-color: aqua;


 }
 .wrapper{
    width: 700px;
    padding: 35px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow:  0 10px 15px red(0, 0, 0, 0.5) ;

 }
 
  .wrapper .content_box{
   
  }